@import './styles/main.scss';

body {
  margin: 0;
  font-family: 'Maitree', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: $global-max-width;
  background-color: $lotion;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
