.page__auth {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(200deg, $lotion, $green);
  overflow: hidden;

  &__container {
    position: relative;
    z-index: 1;
    background-color: $lotion;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 310px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    padding: 15px 20px;
    color: $green;
  }
}

.auth {
  &__input {
    display: block;
    width: 280px;
    height: 40px;
    text-indent: 8px;
    border: none;
    border-bottom: 1px solid #ddd;
    outline: none;
    margin: 12px auto;
    color: $green;
  }

  &__button {
    width: 280px;
    height: 40px;
    margin: 35px auto 40px auto;
    border: none;
    background: linear-gradient(200deg, $green, $lotion);
    color: $green;
    font-weight: bold;
    letter-spacing: 5px;
    border-radius: 10px;
    cursor: pointer;

    &:hover {
      background: linear-gradient(-200deg, $lotion, $green);
      background-position-x: -280px;
    }
  }

  &__account {
    margin: 35px auto 40px auto;

    &--register {
      color: lighten($sunrise, 20%);
      font-weight: bold;
      cursor: pointer;
      &:hover {
        color: $sunrise;
      }
    }
  }
}
