// colors name: https://www.color-name.com/

// Common Color:
$gunmetal: #2b2c34 !default;
$lotion: #fafafa !default;
$spanishGrey: #949a9a !default;

// Highlight Color:
$lightTaupe: #b18c67 !default;

$pearl: #f8f8ec !default;
$flashWhite: #eff0f3 !default;
$platinum: #e4e5e9 !default;

$brown: #896c49 !default;
$green: #75825a !default;
$sunrise: #ce704a !default;
$yellow: #e2c764 !default;
