.page__auth {
  background: linear-gradient(to top left, $dark, $dingley, $avocado);
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .page__conatiner {
    background-color: $pampas;
    padding: $global-padding * 2;
    border-radius: $global-border-radius;
  }
}

.auth {
  &__title {
    @extend .font--avocado;
    text-align: center;
  }

  &__user,
  &__name,
  &__psw {
    margin: $global-margin 0;

    input {
      @extend .font--avocado;

      min-width: 280px;
      padding: $global-padding 0;
      border-radius: $global-border-radius;
      border: none;
      text-indent: 8px;
      outline: none;
    }
  }

  &__clue {
    text-align: right;
    margin-top: $global-margin * 2;

    a {
      @extend .font--clay;

      margin-left: $global-margin * 0.5;
      cursor: pointer;
    }
  }
}

.button--login {
  @extend .button;
  @extend .font--pampas;

  background: linear-gradient(200deg, $avocado, $dark);
  font-weight: bold;

  &:hover {
    background: linear-gradient(-200deg, $avocado, $dark);
    background-position-x: -280px;
  }
}
