.button {
  @extend .font;

  width: 100%;
  padding: $global-padding * 0.8;
  cursor: pointer;
  border-radius: $global-border-radius;
  border: none;

  &--icon-only {
    width: auto;
    background-color: transparent;
    color: $pampas;
    font-size: 2rem;
  }
}
