// light shades
$pampas: #f8f6f4 !default;

// light accent
$avocado: #889067 !default;

// main brand color
$dingley: #68744c !default;

// dark accent
$clay: #7c5830 !default;

// dark shades
$dark: #242e2e !default;

$colors: (
  pampas: $pampas,
  avocado: $avocado,
  dingley: $dingley,
  clay: $clay,
  dark: $dark
);
