@import './colors';
@import './utility';
@import './variables';
@import './layout';
@import './typograhpy';

@import './auth.scss';
@import './animationBackground.scss';
@import './button.scss';

body {
  margin: 0;
  font-family: 'Maitree', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: $global-max-width;
}

.mainLayout {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.header,
.footer {
  flex: 0 1 auto;
}

.page {
  display: flex;
  flex: 1;
}

img {
  width: 100%;
}
